<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('../partials/head') %>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <%- include('../partials/nav') %>
    <h1><%= title %></h1>
    <p><%= message %></p>
    <p> Demo App Test</p>
    <p id="demo"></p>
    <p id="test"></p>
    <script src="/js/script.js"></script>
    <%- include('../partials/footer') %>
  </body>
</html>
